{
  "extends": "airbnb/legacy",
  "globals": {
    "jquery": true,
  },
  "rules": {
    "semi": 2,
    "new-cap": [2, {
      "capIsNewExceptions": [
        "Deferred"
      ]
    }],
    "func-names": 0,
    "vars-on-top": 0
  }
}
